* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

/* NAV BAR  */
header {
  padding: 15px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-brand i,
.navbar .navbar-brand span {
  color: #dc4f72;
  font-size: 1.7rem;
}

.navbar-nav .nav-item a::after {
  content: "";
  display: block;
  background-color: #dc4f72;
  width: 0;
  height: 2px;
  transition: all 0.5s;
}

.navbar-nav .nav-item:hover a::after {
  width: 50%;

}

.navbar-dark .nav-link {
  transition: all 0.5s;
}

.navbar-dark .nav-item:hover .nav-link {
  color: #dc4f72;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
  color: #dc4f72;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
}

.navbar-nav .navbar-item .active {
  color: #dc4f72;
}

nav ul li {
  margin: 0 10px;
}

.bt__m {
  padding: 15px 22px;
  background-color: transparent;
  color: #dc4f72;
  border: 1px solid;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s;
}

.bt__m:hover {
  background-color: #dc4f72;
  color: white;

}

/* .navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.navbar-nav {
  align-items: center;
}

/* CONTENT  */
.content__big {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
}

.content {
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
}

.content .overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0%;
  background-color: #ffffffeb;
}

.content__text h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.content__text p {
  font-size: 1.2rem;
  color: #5a5a5a;
  padding: 20px 0;
  width: 70%;
}

#chooseUs {
  text-align: center;
}

.content__us {
  width: 70%;
}

.container h6 {
  color: #dc4f72;
  font-weight: 650;
}

.container h3 {

  font-size: 2.7rem;
  font-weight: 700
}

.content__card .card {
  padding: 2rem;
  background-color: #F7F9FC;
  border: 1px solid #F7F9FC;
  transition: all 0.5s;
}

.content__card .card h4 {
  padding-top: 15px;
  font-weight: 800;
}

.content__card .card:hover {
  background-color: white;
  transform: translatey(-10px);
  box-shadow: 0 0 10px #00000021;
}

#company {
  background-color: #F7F9FC;
  margin-top: 5rem;
  padding: 100px;
}

#company .container {
  display: flex;
  justify-content: space-between;

}

#company .bt__m {
  background-color: #dc4f72;
  border: #dc4f72;
  color: white;
  font-weight: 700;
  transition: all 0.5s;
}

.company__text h3 {
  padding: 15px 0;

}

.company__pic img {
  border-radius: 0.4rem;
  box-shadow: 0 0 7px #00000070;
  transition: all 0.3s;
}

.company__pic img:hover {
  transform: translateY(-10px);
}

#company .bt__m:hover {
  background-color: #d62f58;
}

#company .row .card {
  width: 100%;
  border: solid 1px transparent;
  transition: all 0.8s;
}

#company .row .card:hover {
  box-shadow: 0px 5px 8px 0px #00000029;
}

.row {
  margin: 5rem;
}

#company .row .card p {
  color: #5a5a5a;
}

#company .row .card p:first-of-type {
  font-size: 3rem;
  color: #dc4f72;
  font-weight: 800;
}